* {
  margin: 0;
  padding: 0;
}

:root {
  --blackcolor: #0f0f0f;
  --greycolor: #232d3f;
  --greencolor: #005b41;
  --greenbluecolor: #005b41;
  --background: #183d3d;
}

body {
  display: grid;
  background-color: white;
  grid-template-columns: 20% 80%;
}

.left-main {
  display: grid;
}

.sidebar {
  font-size: 1.5rem;
  background-color: var(--blackcolor);
  color: white;
  padding: 2rem;
}

.mdi {
  display: inline-block;
  margin: 0.5rem 0rem 0.5rem 0rem;
}

#dashboard {
  display: inline-block;
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

#settings {
  display: inline-block;
  margin-top: 3rem;
}

.right-main {
  display: grid;
}

.header {
  display: grid;
  padding: 1rem;
  color: #fff;
  background-color: var(--greycolor);
}

/*
.top-section {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  font-size: 2rem;
}

.bottom-section {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  font-size: 1.2rem;
}

.profile {
  font-size: 4rem;
}

.left-section p {
  display: inline-block;
}

.left-section-2 {
  display: grid;
  grid-template-columns: repeat(2, 0.15fr);
}

.right-section {
  display: inline-block;
} */
