* {
  margin: 0;
  padding: 0;
}

:root {
  --blackcolor: #0f0f0f;
  --greycolor: #232d3f;
  --greencolor: #005b41;
  --greenbluecolor: #005b41;
  --background: #183d3d;
}

body {
  display: grid;
  background-color: white;
  grid-template-columns: repeat(4, 1fr);
}

.sidebar {
  display: grid;
  font-size: 1.5rem;
  padding: 5rem 5rem 0 5rem;
  gap: 0px;
  background-color: var(--blackcolor);
  color: white;
}

.header {
  display: flex;
  padding: 1rem;
  flex-direction: row;
  justify-content: space-between;
  grid-column: 2 / 5;
  color: #fff;
  background-color: var(--greycolor);
}

.left-section {
  display: flex;
  flex-direction: row;
}

.right-section {
  display: flex;
}

.main-container {
  color: #fff;
  background-color: var(--background);
}

.cell {
  border: 1px solid black;
  border-radius: 0.5rem;
  padding: 2rem;
  background-color: white;
  color: black;
}
